    body {
        font-family: ²Ó©úÅé; }

    #MessageList {
        overflow: auto; overflow-x: hidden;
        width: 648px; height: 600px;
        border: 1px solid black;
    }
    #MessageList table {
        table-layout: fixed;
        width: 100%;
    }
    #MessageList th {
        height: 0px; padding: 0px; margin: 0px; border: 0px;
    }
    #MessageList th.left {
        width: 135px;
    }
    #MessageList td {
        padding: 6px 16px 12px 6px;
        border-top: 1px dashed #999999;
    }
    #MessageList td.system {
        padding: 20px 50px;
        background: #cccccc;
    }

    #PostMessage {
        padding-top: 16px;
    }
    #PostMessage textarea {
        width: 650px; height: 80px;
    }
    #Login {
        padding-top: 16px;
        display: none;
    }

    #UserList {
        position: absolute;
        overflow: auto; overflow-x: hidden;
        width: 298px;
        border: 1px solid black;
    }
    #UserList #UserListContainer div{
        padding: 1px 5px;
    }
    #Utility {
        position: absolute;
        overflow: auto; overflow-x: hidden;
        width: 298px;
        border: 1px solid black;
    }
    #Utility #UtilityContainer {
        padding: 6px;
    }
    #Utility #UtilityContainer .active {
    }
    #Utility #UtilityContainer .inactive {
        display: none;
        height: 550px;
    }

    div .titlebar {
        text-align: center;
        background: #333399;
        color: #ffffff;
        margin-bottom: 3px;
    }

    img.usericon {
        vertical-align: text-bottom;
        padding-right: 3px;
    }
    img.role {
        width: 298px;
    }
    div.contextmenu {
        padding: 4px;
        position: absolute;
		width: 220px;
        background: #eeeeee;
        border: 2px solid #777777;
        border-top: 2px solid #dddddd;
        border-left: 2px solid #dddddd;
        display: none;
    }
    div.menuitem {
        cursor: pointer;
        padding: 4px 26px;
    }
    div.menudisable {
        padding: 4px 26px;
        color: #cccccc;
    }
    div.menuhover {
        color: white;
        background: royalblue;
    }
    .clkable {
        cursor: pointer;
    }