    body {
        font-family: ²Ó©úÅé; }

    #MessageList {
        overflow: auto; overflow-x: hidden;
        width: 648px; height: 600px;
        border: 1px solid black;
    }
    #MessageList table {
        table-layout: fixed;
        width: 638px;
    }
    #MessageList td {
        padding: 6px 6px 15px 6px;
        border-top: 1px dashed #999999;
    }
    #MessageList td.system {
        padding: 20px 50px;
        background: #cccccc;
    }
    #MessageList td.lead {
        width: 135px;
    }

    #PostMessage {
        padding-top: 16px;
    }
    #PostMessage textarea {
        width: 650px; height: 80px;
    }
    #Login {
        padding-top: 16px;
        display: none;
    }
    #Toolbar {
        position: absolute;
        width: 300px;
        left: 680px; top: 16px;
        border: 0px solid black;
    }
    #Toolbar #tabs_content_container {
        overflow: auto; overflow-x: hidden;
        vertical-align: top;
        width: 298px;
        border: 1px solid black; }
    #Toolbar #tabs_content_container div {
        margin-bottom: 2px;
    }
    #Toolbar #tabs_content_container .tab_content {
        padding: 6px 9px;
        display: none;
    }
    img.usericon {
        vertical-align: text-bottom;
        padding-right: 3px;
    }
    img.role {
        width: 298px;
    }
    div.contextmenu {
        padding: 4px;
        position: absolute;
		width: 220px;
        background: #eeeeee;
        border: 2px solid #777777;
        border-top: 2px solid #dddddd;
        border-left: 2px solid #dddddd;
        display: none;
    }
    div.menuitem {
        cursor: pointer;
        padding: 4px 26px;
    }
    div.menudisable {
        padding: 4px 26px;
        color: #cccccc;
    }
    div.menuhover {
        color: white;
        background: royalblue;
    }
    .clkable {
        cursor: pointer;
    }